/* show/index.wxss */
/* pages/recognition/recognition.wxss */
.recognition-container{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.btn-area{
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 10vh;
  z-index: 1000;
}

.canvas-image-ele{
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}

.showImgview{
  /* display: block; */
  margin-top: 15px;
  
}
.showImgview .featrueimageview{
  width: 60%;
  max-width: 175px;
  margin: 0 auto;

}
.showImgview .featrueimage{
  width: 100%;
}
.showImgview .title{
    width: 100%;
    line-height: 150%;
    color: white;
    font-size: 16px;
    text-align: center;
    white-space:initial;

}
.showImgview .content{
    width: 80%;
    height: 200px;
    margin:0 auto; 
    text-align: left;
    font-size: 14px;
    color: white;
    overflow-y: scroll;
    white-space:normal;
    pointer-events: unset;
}
