<camera device-position="back"   flash="off" binderror="error" style="width: 100%; height: {{height}}px"></camera>
<!-- <canvas type="webgl" id="webgl" style="width: 100%; height: 300px;" ></canvas> -->
<view class='recognition-container'>
  <view class="btn-area">
      <button type="primary" bindtap="takePhoto">{{msg}}</button>
  </view>
</view>